venv
.env

chroma_langchain_db2/
welllahh_chroma.zip
.ipynb_checkpoints/
client_secret.json
liveqa.csv
gemini_fine_tune_dataset.csv

biogpt_base_jelek.ipynb
coba_biogptlarge_lemot.ipynb
eval.ipynb
liveq.csv
medication-qa.csv
medqa-cot.csv
medquad.csv
Untitled.ipynb


.env
eval/chroma_langchain_db2/
eval/.ipynb_checkpoints/
eval/medqa_cot.npy


med_chatbot_stbi/med_chatbot_stbi/__pycache__/

medqa_cot.npy

pubmedqa/

eval/*.jsonl

eval/*.csv


